h1 {
  color: blue;
}
.navigationbar {
  overflow: hidden;
  background-color: #3333ff;
}
.navigationbar a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
  
