h1 {
  border-bottom: 2px solid blue;
  color: blue;
}
.navigationbar {
  overflow: hidden;
  background-color: #3333ff;
}
.navigationbar a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navigationbar a:hover {
  background-color: #00ff00;
  color: #003300;
}
.column {
  float: left;
  padding: 10px;
  height: 300px;
}
  
